body {
  color: white;
  background-color: black;
}
#ea {
  font-size: 28px;
  font-family: "Silkscreen", cursive;
  text-align: center;
}

#dos {
  text-align: center;
  font-size: 18px;
  font-family: ;
}
